{% extends "base.html" %}

{% block title %}{{ trans(key='tags_title', lang=lang) }} | {{ config.title }}{% endblock title %}

{% block content %}
  <div class="page-container mx-auto max-w-4xl px-6 pt-8 pb-16">
    <header class="page-header">
      <h1 class="mt-0 mb-2 text-3xl">{{ trans(key='tags_title', lang=lang) }}</h1>
    </header>
    <ul class="tag-list">
      {% for item in terms %}
        <li><a class="tag" href="{{ item.permalink }}">{{ item.name }} ({{ item.pages | length }})</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
